[Unit]
Description=Load ZFS keys from Azure Key Vault
After=network-online.target
Wants=network-online.target
After=zfs.target
Wants=zfs.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/sysconfig/zfs-key-load
RemainAfterExit=yes
ExecStart=/usr/local/bin/zfs-key-load
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
